* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: deeppink;
}
.display {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 400px;
  background: #fff;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin: 10px;
  text-align: center;
  background-color: darkturquoise;
}
